[2018-01-28 02:17] igormcoelho opened #2 "Deploy to private net"
Add capability to deploy to private net.

[2018-01-28 15:42] FabioRick opened #3 "The page has a bug when uses pipe("|") in jade files"
The ideia is replace the pipe for br all along the script.

[2018-01-28 15:49] FabioRick commented on #3
All changes done.

[2018-01-28 15:49] #3 closed

[2018-02-12 01:46] #2 closed

[2018-03-12 11:03] xris-hu opened #6 "The docker-neo/entrypoint.sh script PATH is wrong"
issue1: neocompiler.iodocker-neo/entrypoint.sh path is wrong

origin export:
export PATH=$PATH:/neo-compiler/neon/bin/Release/netcoreapp1.0/

right export:
export PATH=$PATH:/neo-compiler/neon/bin/Release/netcoreapp1.0/Neon

issue2: neocompiler.io/docker-neo/Dockerfile path is wrong

cp /usr/lib/mono/4.5/mscorlib.dll /buildtmp/NeoContract1/bin/Release

=>

cp /usr/lib/mono/4.5/mscorlib.dll /buildt

[2018-03-19 23:34] vncoelho commented on #6
Hey xris-hu, how are you?

Thanks for your attention.
Sorry for the delay in replying your issue.

Accutaly, this problem was not detected by our developers. Can you provice more details about it?
Are you trying to create the docker with buile everything?

[2018-03-22 09:27] vncoelho opened #7 "Sync w2, w3, w4 and adjust message"

[2018-03-22 09:29] vncoelho commented on #7
Adjust relayed tx message at the end.

Sync w2, w3 and w4 by comparing self. wallet. height and default blockchain.
Or... try to switch wallets on screen 5.
It would avoid extra waits for ocasional calls

[2018-04-04 04:25] igormcoelho commented on #6
Thanks xris-hu, and as Vitor mentioned, the neocompiler-eco docker for mono is working perfectly at neocompiler.io website. Please take a look there... and contributions are welcome as always, thanks again.

[2018-04-04 04:25] vncoelho commented on #6
The issue was closed.
Issue 1: It is correct as it is now.
Issue 2: line "COPY NeoContractTeste buildtmp/" renames NeoContractTest

[2018-04-04 04:26] vncoelho commented on #7
Done.

[2018-04-04 04:26] #7 closed

[2018-04-04 04:26] igormcoelho commented on #7
Ok brother, seems you did the job already.

[2018-04-04 14:45] vncoelho opened #8 "[feature] Improve TXs responsive table"
*Status are currently not working and could be updated when user calls a button, such as in the Utils for checking balances
*Create box for allowing users to insert TXs to be table by hand
*Future, change and modify transaction orders

[2018-04-05 08:29] vncoelho commented on #8
*Status are now working

2. Box are still missing
3. Modify transactions orders is also a future feature

[2018-04-10 20:45] igormcoelho opened #9 "Submission of raw .avm"
It would be interesting to have a feature for submission of raw .avm file. That would simplify integration with VStudio and other Desktop IDEs, so advanced programmers won't need to setup their own NEO Ecosystem (besides the local compiler, if they have one already).

[2018-04-10 20:48] vncoelho commented on #9
That is true, my brother.

With the rebrand to NeoCompiler Eco(system) and the features that @igormcoelho and @FabioRick have been implementing, many developers may want to skip the compiling part.

[2018-04-11 21:41] vncoelho opened #10 "[feature] restore old transaction"
Restore old transactions data (hash, params,...) by clicking at the responsive table

[2018-04-27 18:30] igormcoelho commented on #9
@FabioRick  already implemented this feature: https://github.com/NeoResearch/neocompiler-eco/commit/fd163d67d328b7e1756859b2ef4efc1235c04507

[2018-04-27 18:30] #9 closed

[2018-04-27 18:31] igormcoelho opened #12 "Compute scripthash from avmhex"
The scripthash field should be completed automatically after avm submission or compiling. There's no need for abi information at this point, because we already have this feature (scripthash/address calculation) implemented in Utils.

[2018-04-27 18:33] igormcoelho opened #13 "Magic boxes for invoke"
Folks, we need to implement "magic box" feature, based on abi information, so we can invoke contract functions directly from a listbox, and filtering parameters correctly (strings, numbers, lists...). I believe this feature should also indicate a json format for passing invoke infomation (perhaps we propose a NEP for this?).

[2018-04-28 02:39] FabioRick commented on #12
It's already implemented. =)

[2018-04-28 02:39] #12 closed

[2018-05-01 13:49] FabioRick commented on #8
Table are now refreshing every 30s

[2018-05-01 16:48] igormcoelho opened #16 "Remove the need of having variable DOCKERNEOCOMPILER"
Since using tags in docker images, we don't need to have this env variable anymore.

[2018-05-01 17:02] igormcoelho opened #17 "Add NEP-2 string wallet import feature"
Add feature to import NEP-2 wallet (client-only!!) and perform invoke operations on private/testnets. It is important to NEVER store or print this value anywhere (on backend), and also warn that is very dangerous to use mainnet wallets here.

[2018-05-01 18:32] igormcoelho commented on #17
I believe we can have 3 input modes for wallets: Address base58 (watch only), publickey (watch only, but we also calculate Address and have two infos), NEP-2 (we have all information and can operate with wallet in testnet/privatenet with neon-js, not python). These can be added in Utils.

[2018-05-01 18:32] igormcoelho commented on #17
@ftgibran

[2018-05-01 18:59] igormcoelho opened #18 "Add option to display wallet funds in testnet (only Eco privatenet is supported now)"
In Utils screen, user should be able to toggle between testnet and Eco privatenet.

[2018-05-10 22:17] igormcoelho opened #19 "Easily show storage from different networks (priv,test,main,...)"
Inspired by Shargon nice ideas, one more useful thing to have here...

[2018-05-11 02:07] igormcoelho opened #20 "Add Java compiling support"

[2018-05-11 02:17] #20 closed

[2018-05-12 16:39] #19 closed

[2018-05-17 01:55] igormcoelho commented on #16
Vitor solved this in: d606ca1f0c9a43b00d439076c35f30caf62b8518

[2018-05-17 01:55] #16 closed

[2018-05-17 03:00] #13 closed

[2018-05-17 04:42] vncoelho commented on #13
Magic, literally! Very gud, ma broda

[2018-05-18 16:22] igormcoelho opened #21 "Create information bar to say Eco server is rebooting every 12-hour"

[2018-05-20 13:39] FabioRick opened #22 "Click on AVM Opcodes freeze the page"
It does not happen with simple AVM, but when you put some complex ones it's really annoying.

[2018-05-20 13:50] vncoelho commented on #22
That is true, @FabioRick!!

Another day I kept fixing the code until understand that the opcode was missing...kkkkkkkkk

[2018-05-20 13:50] vncoelho commented on #22
And to quick "solve" it we disable the automatic convertion :P

[2018-05-20 14:00] FabioRick commented on #22
Well...not a good one i guess! hahahaha I'll take a look, probably it is not the algorithm that do this conversion, but the textarea with too much text inside.

[2018-05-20 22:24] igormcoelho opened #23 "Unify base of docker-compiler-csharp and docker-compiler-java"
The packages behind docker-compiler-csharp and docker-compiler-java should be the same, to avoid "double spending" of disk space :)

[2018-05-22 15:40] igormcoelho commented on #22
I believe this is because we are not parsing correctly all possibilities of opcodes (and parameters). So, when the parser goes in a wrong direction, it ends up in an infinite loop... but this is also crazy, because the substring function should not be taking strings when length is zero :D hahaha well, that's life. Let's try to avoid the infinite loops even if opcode interpretation is wrong, that w

[2018-05-22 19:33] #21 closed

[2018-05-22 23:42] vncoelho commented on #23
Optimizing the dockers....

Gud gud veri gud

[2018-05-22 23:43] vncoelho commented on #18
O.o,

You must be joking. There is not Utils screen anymore....aehauehauea

I think this Functionalities was more than accomplished!! It looks great now :dagger:

[2018-05-22 23:44] #18 closed

[2018-05-22 23:45] vncoelho commented on #8
Gud gud, @FabioRick. Thanks.
It is very nice now. Perhaps, we can change to 10s now, because of the higher speed of the network.

When all TX are already found we can stop refreshing to avoid spamming the server.

I do not know if it is very useful. However, in some cases someone may need to restore information from it. Letś see the future demands... :dagger:

[2018-05-25 18:54] ThomasLobker opened #24 "Feature: Allow legacy versions of each compiler"
If we could recompile open-source contracts with legacy versions of the compiler, then we would be able to verify if it matches with the script hash on the blockchain. This would greatly improve trust and security for NEP-5 tokens (and other open-source smart contracts). Blockchain explorers would be able to display the actual source code (given that the source code is available) for each deployed

[2018-05-30 02:19] igormcoelho commented on #24
Hi Thomas, I liked a lot your idea. This can mean some extra overhead for our servers, but, who cares anyway :D it's for a good cause hahahah
We should first achieve some versioning convention for all compiling tools, because as you may have noticed, tools in Neo ecosystem don't usually have tags or unique names...
So, my first approach for naming could be X_Y_Z_A_B:
- language name (csharp)
- mai

[2018-05-30 08:22] ThomasLobker commented on #24
@igormcoelho thank you so much for this insight. The JSON definition that holds all environmental parameters would be absolutely briliant. We would still need some relevant data on the smart contract level as well, something that points to where to find the source code (and where to find the compiler.json as well).

It can be part of the dApp NEP proposal in my opinion:
https://github.com/neo-proj

[2018-06-07 15:21] tomascarvalho opened #25 "File Sharing issues when installing NeoCompiler on MacOS"
**Issue:** Running the `./build_everything.sh` shell script on mac os will result in error. Docker tries to use file sharing with a folder that does not exist on MacOS `/var/logs/`, raising an error and aborting the shell script. This can possible be fixed by meddling with Docker for Mac File Sharing properties, but I was not able to do it .

**Possible Solution:**  Change the path in order to wor

[2018-06-11 00:50] igormcoelho commented on #25
You are correct, let's put a local directory near `docker-compose.yml`file.

[2018-06-11 00:52] #25 closed

[2018-06-11 09:12] tomascarvalho opened #26 "File Sharing problem still exists"
Issue #25 still persists, now in the following code:
(This code must have been added after I opened #25 , as I was not getting an error here before).

**Fix:** Similarly to #25, this can be fixed by using the same local directory near the docker-composer.yml file.

https://github.com/NeoResearch/neocompiler-eco/blob/3474e342c6d0ad05117cc7e8d1a75fc2260de132/dockers-neo-scan-neon/docker-neo-scan/doc

[2018-06-13 15:24] lock9 opened #28 "[Bug] AVM Decompiler not working for hex files"
Hello,
I'm using https://neocompiler.io/#/ecolab to understand a few scripts better, and it works great. The problem is that if I want to upload my own .avm file in HEX format, it doesn't work.
It's not a problem with my code, but with the editor itself, since if I download and upload the avm from the editor, it also doesn't work.
Maybe @ftgibran  can help us?  👍

[2018-06-13 18:16] igormcoelho commented on #28
HI @lock9 , the avm upload feature expects "binary" format (which is usually generated by all compilers, boa, neon, ...), not hexstring format.
But I'm gonna test it again anyway, something may have corrupted this feature recently.

[2018-06-13 18:34] #26 closed

[2018-06-13 23:56] #28 closed

[2018-06-17 22:42] vncoelho commented on #17
As well as include wallets by hand at the vector of known wallets.
After that, change to `NeoLink`

[2018-06-18 17:10] vncoelho opened #30 "Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user’s experience. For more help http://xhr.spec.whatwg.org/"
Synchronous <script> include inside partils ecolab.html causes this problem.

[2018-06-26 22:45] #23 closed

[2018-06-26 22:46] #10 closed

[2018-06-26 22:46] vncoelho commented on #8
Restore old transaction by clicking at the table

[2018-07-23 00:43] vncoelho commented on #17
This has been partially accomplished throught #b875717

[2018-07-24 21:21] #8 closed

[2018-07-26 09:56] rct1985 opened #31 "Always response with status of "Fault, Break""
It's realy a nice website of "https://neocompiler.io", and it saves me hours for test smart contracts.
But when i deploy a simple smart contracts directly on your website, and test it with "postman". it always responses with status of "Fault, Break".
The avm file works well on my local neopy prompt.
Any advice is appreciated.

[2018-07-26 16:23] igormcoelho commented on #31
Hi @rct1985 , that's strange because yesterday I tested many smart contracts there... have you tried invoking it using neo-python invoke on the website? the syntax is the same from local python.

[2018-07-27 08:44] rct1985 commented on #31
# It works today
Thanks for your reponse, and it works today .
In china, We connect to your website according vpn, May be there was something wrong with my network.
# Another question
I want to check content of special key in the storage, but sometimes I get "contract exists!" in the output field. Somtime it works and i can getting the correct content. it really confuses me

Thanks in advance!

[2018-07-28 09:54] rct1985 opened #32 "The invoke result really confuses me"
## This is a my test smart contract (success)
[code]
After deploy it on the [neocompiler.io](https://neocompiler.io/#/ecolab), I can invoke the "write" method and the content will be written into storage, and it can be read from storage correctly.

Buy if I change the return value of "BoolToByteArray" method

## This is a my test smart contract (failed)
[code]
Deploy it just like the first one , I

[2018-07-28 11:43] igormcoelho commented on #31
Yeah, the intention of the message is to say "You contract exists, but key does not". Many people try to get storage from an "undeployed" contract, what confuses people even more (that's why we put this message).

[2018-07-28 11:46] igormcoelho commented on #31
Improved message: https://github.com/NeoResearch/neocompiler-eco/commit/893a3e5b4b305fa52089c218f2a59b0ab672a9b4

[2018-07-28 11:46] #31 closed

[2018-07-28 12:02] igormcoelho commented on #32
That's really strange! I tried it here and the same happened to me, don't know why.... perhaps even the ternary operator is running fine, the problem is elsewhere (see this @jing).

This simple test works in both configurations (return 01, or 00, or inverted):
[code]

Will need to see what is happening in opcode level, perhaps some compilation is failing...

[2018-07-28 12:38] igormcoelho commented on #32
Oh, now it's working! The server just reset, I redeployed this contract and now it works.
So, I have a theory... perhaps you deployed this contract without paying the Storage fees (but you payed for the opposite contract), so that would explain this crazy behavior. I cannot test that, because now the server was reset (after 12-hours), but I can say that your contract works.

What we can try to do

[2018-07-28 12:59] #32 closed

[2018-07-29 06:59] rct1985 commented on #32
## Thanks so much

[2018-08-02 01:36] rct1985 commented on #31
Got it
thanks for your imporment

[2018-08-02 14:55] rct1985 opened #35 "Need your help, wallets is unavailable sometimes"
I found the wallets in the neocompiler.io is unavailble sometime recently.

I want to show our dapp demo in 4 August in Game-Shared meeting organised by offical of neo. Would you help me to make neocompiler.io stable in that day.
I would like to introduce the neocompile.io to other developers in that meeting.

thank you in advance.

[2018-08-03 01:34] igormcoelho commented on #35
The best option is always to have a local instance of neocompiler.io (just clone neocompiler-eco and execute `./build_everything.sh`). But I agree it's very nice to have a fully working online platform. So, to help you out we will put the platform online without any resets until August 5th. I will just make some adjustments for greater stability, and let you know when it's fully online (if you wan

[2018-08-03 01:34] igormcoelho commented on #35
Waiting for the address ;)

[2018-08-06 16:28] #35 closed

[2018-08-06 16:32] igormcoelho commented on #24
@ThomasLobker  sorry for the delay, the idea is still on the table.. just time is short :)
I just thought this project will fit fine in another project we have, called `neo-tests`. The idea I have now is:
- you chose the language and pass the exact commit number or tag;
- the compiler is build on-the-fly with the desired configuration (may take a few minutes);
- the compiling process is made;
- ev

[2018-08-08 00:08] ThomasLobker commented on #24
@igormcoelho completely agreed. I think once you've built a compiler we can keep it on disk for future usage, so only the first time that it's selected it will take a couple of minutes. Disk space is cheap, so that should be no problem, but I can always help out with that.

Once we have this, we can use it audit projects and verify the script hash, even if the projects don't want to open source th

[2018-08-08 19:49] igormcoelho commented on #24
That's true @ThomasLobker ... if specific images are created and properly named, they could be invoked and kept on disk (as docker creates incremental images, only the build output will remain). We are currently working in a full separation of consensus nodes in our network, which will be the basis of neo-tests project. After that, releasing this new testing part will be quick and easy.

[2018-08-10 10:17] rct1985 commented on #35
Thanks . It's very helpful advice for me, and I will try.
I was very appreciated to introduce your project to other developers in that meeting.
And it's the picture .
[picture in meeting](http://www.imageurl.ir/images/38759461280119453290.jpg)

[2018-08-17 15:07] vncoelho commented on #24
Closed through https://github.com/NeoResearch/neocompiler-eco/commit/77db3517d51dcab6ed5b911b15d4e8784be52569.

Still need more features.

[2018-08-17 15:07] #24 closed

[2018-08-20 09:45] tomascarvalho opened #36 ""Unknown Compiler!" error when a compiler other than C# compiler"
I get a  `Unknown Compiler! Please use something from the list!` error when trying to use a compiler (Python, Go, Java) other than the C# compiler.

[2018-08-20 10:43] vncoelho commented on #36
Sorry for this, we needed to double check the security because of the new option of multiple compilers. Perhaps something wrong for the other compilers. Soon we will fix it.

Thanks,

[2018-08-20 15:12] igormcoelho commented on #36
Vitor, I guess we need a list like that for all compilers... then we submit the type of compilation "csharp", or "python", together with the compiler version.

[2018-08-20 21:06] vncoelho commented on #36
Done as suggest by Igor. Thanks to both of you,

[2018-08-20 21:06] #36 closed

[2018-09-02 02:20] igormcoelho opened #37 "Deploy complains of contract not being deployed yet (wat???)"
There's a recursive behavior on "Deploy", because it complains contract is not deployed yet xD hahaha but it works anyway... 3 commits to get 1000, do we need a cake? :)

[2018-09-09 18:49] igormcoelho opened #38 "Using 0x20 Script Attribute to limit tx block due time"
The idea of this issue is to provide support for advanced scripting on tx, to allow block due time blocking: https://github.com/neo-project/neo/issues/371

[2018-09-10 02:34] #38 closed

[2018-10-17 17:50] nunojusto opened #39 "dotnet Dockerfile can be largely simplified"
https://github.com/NeoResearch/neocompiler-eco/blob/master/docker-ubuntu-dotnet/Dockerfile
This Dockerfile is installing all by hand.

Why not use the official Microsoft ubuntu release docker image?
https://hub.docker.com/r/microsoft/dotnet/
With this you can have all the updates done by them in the official way.

Also, if this is only to run csharp stuff already compiled (published) you don't nee

[2018-10-18 15:46] vncoelho commented on #39
Let's make some experiments. It may simplify our scripts and reduce image size (can also make things faster).

Thanks for suggesting.

[2018-10-18 16:00] vncoelho commented on #37
We need! I think we gonna celebrate 1M visits and the commits all together :package:

this issue was fixed with an if verification :dagger:

[2018-10-18 16:00] #37 closed

[2018-10-29 11:48] vncoelho opened #40 "Upload AVM problems"
This upload AVM is a long history of love and hate...

[2018-11-18 12:37] quelibrio opened #41 "Error "docker-compose up" in ./docker-compose-eco-network"
I try to do "docker-compose up" in the docker-compose-eco-network on Windows 10. It gives me the following error:

`pull access denied for eco-neo-csharp-node, repository does not exist or may require 'docker login'`

I want to run the privnet which is compiled with 3 sec blocktime so we can test our neo smart contracts faster.

Here is some more information on the Windows 10 system:

Client:

[2018-11-18 13:41] igormcoelho commented on #41
In fact you need to build dependent images before, we have buildeverything.sh script for that, but I see thats linux only. So, the easier way is to just get inside eco-neo-csharp folder and execute: docker build . -t eco-neo-csharp-node
After that, proceed to docker compose.

[2018-11-28 16:21] vncoelho opened #42 "Docker problems with iptables after some minutes and runs"
https://stackoverflow.com/questions/46169945/docker-chains-will-be-reset-by-iptables

before restart
[code]
after:
[code]

[2018-11-30 13:02] #42 closed

[2018-12-06 20:58] vncoelho commented on #41
@quelibrio, did you manage to build it?
Fell free to ask any question.

I will leave it closed because I do not see any problem in the current design.

[2018-12-06 20:58] #40 closed

[2018-12-06 23:35] igormcoelho commented on #41
Let's wait a little more Vitor :)

[2018-12-07 12:40] quelibrio commented on #41
@igormcoelho  i followed your advice, when building got the following error:
[code]
I guess this is some dependency to the cli project, but i don't see how to reference.

[2018-12-07 12:45] vncoelho commented on #41
In fact, the comment should be just `docker_build.sh` inside the folder `docker-neo-csharp-node`, the docker_build downloads the necessary package.

[2018-12-07 12:58] quelibrio commented on #41
Okay i tried the docker_build script, it finished with error
[https://ibb.co/YL6FFRK](url) stating that wget is not available (on windws  normal ). So I guess you are building this project on linux. Me myself is usually using  linux but for the neo project we went for a windows setup. I guess if switch it will be fine.

[2018-12-07 13:06] igormcoelho commented on #41
I'll try to update script to python or something more easily portable to windows.

[2018-12-11 00:07] #17 closed

[2019-01-07 22:20] #39 closed

[2019-02-18 22:59] wschae opened #44 "Add F# compiler support"
Let us support F# compiler.
I will add a few simple F# examples here.
If the team needs any help for test, let me know :)

[2019-02-23 04:18] igormcoelho commented on #44
Man, the idea is great!
I tried to give a first push here: https://github.com/NeoResearch/neof

Took some days to understand basic F# and slightly change basic neon C# compiler to at least generate any avm! :)
By the way, I didn't test the output yet, it is probably not fully working... but like I told you on DevCon, it could be medium or hard challenge, now I'm confident it's easy to medium, whic

[2019-02-23 04:18] #44 closed

[2019-02-27 05:04] saltyskip opened #45 "Deploy Error: One of the policy filters failed"
When attempting to compile and deploy the ICO contract template on the C# template, the contract compiles fine and generates the avm, but when I try to deploy it in the next step I get this error

![image](https://user-images.githubusercontent.com/14796429/53467217-96be3a80-3a98-11e9-9157-0044adefa956.png)

[2019-02-27 06:04] saltyskip commented on #45
After talking with @igormcoelho on discord, I see that transaction is too large and requires a network fee. It would be nice if the error in this case was more specific

[2019-02-27 06:24] saltyskip opened #46 "Link for official API is broken"
![image](https://user-images.githubusercontent.com/14796429/53470057-beff6680-3aa3-11e9-9f28-469cfd36e7a8.png)

Link Official API does not work

[2019-02-27 06:31] #46 closed

[2019-02-27 06:33] vncoelho commented on #45
In fact the error was even less specific...aehuaheauea
It was just saying failed as reason. In fact, this message comes from the c# neo-cli RPC.

We improved it here https://github.com/neo-project/neo/commit/ff174f79d72065c2f772d062e82f0235d4d2efaa

In the future we can try to pass the reason that the plugin denied that.

[2019-02-27 06:46] saltyskip opened #47 "Claim Fails Error, even though Claim is Successful"
When I click orange claim button here for the top address

![image](https://user-images.githubusercontent.com/14796429/53471022-be1c0400-3aa6-11e9-81e5-ae23c12a7962.png)

I recieve the following error

![image](https://user-images.githubusercontent.com/14796429/53471002-ac3a6100-3aa6-11e9-8e6c-d16f6932bad4.png)

However if I wait a few moment it seems that the claim is successful, and the GAS is s

[2019-02-27 06:49] vncoelho commented on #47
There is an automatic script that claims everything in all registered addresses.
Sometimes it lags until neoscan process the last block, in this sense, your front-end tries to claim again and results in this error =/ However, it is just a minor message. :P aehuaheua

[2019-02-27 07:09] saltyskip commented on #47
I see, if one button claims everything I think it might be easier to understand if there is only one button. This would make it clear that I am actually performing multiple claims at once

[2019-02-27 07:11] vncoelho commented on #47
Anhhhhh, the button is for each address.
But, for example, since claim is two steps, if someone had made any transfer and the claim is pending and that address is shared, then, anyone that enters in the website will claim it.

[2019-02-28 03:14] saltyskip opened #48 "Make Return Types and Deploy Params More obvious"
![image](https://user-images.githubusercontent.com/14796429/53538729-3be91980-3b52-11e9-9703-beddee46d3bb.png)

Currently it has the raw integer values, and it is not possible to know what this translates to (String, Int, etc.)

It would be nice to show the type in plain text format instead of the hex code

[2019-02-28 11:33] igormcoelho commented on #48
This is what happens when you work with nerds hahahah you're right, we will fix that soon enough ;)

[2019-02-28 11:35] igormcoelho commented on #45
This problem is hard to detect, you are right, we need something to help us here. Soon, I'll try to pre-calculate tx size based on contract size, so we know how much to expect for network fee and we can automatically fill the box with the value.

[2019-02-28 11:39] igormcoelho commented on #47
I agree that sometimes these messages are just excessive hahaha perhaps we need better UI (a red color on claim address when it fails, I don't know), but something better than constantly pop-up messages. Often I turn off the notifications, to avoid these things, which is clearly not the best usage of the system. Let's think and try to improve that.

[2019-03-08 02:28] saltyskip opened #49 "Too many repeated calls to node"
https://cl.ly/4dce9b3b8030

It looks like neocompiler continually retrys transactions if they fail. I think it is putting unnecessary stress on a node, and causing errors

[2019-03-08 02:36] vncoelho commented on #49
You are right, we need to check direct in the rpc before making such claim calls, the neoscan takes time to sync.

[2019-03-08 03:56] igormcoelho commented on #49
Oh man, this code was meant for use as a Denial of Service xD self-destructing our servers!

[2019-03-08 15:56] vncoelho commented on #49
This commit here improved that a little bit: https://github.com/NeoResearch/neocompiler-eco/commit/8434a6ed063db91b106dc4f1dcdb97b4eb58619e

But it is just a workaround until we do not track UTXO and Claimable direct from neocli.

[2019-03-08 16:23] vncoelho commented on #47
@saltyskip, I will leave this closed because it is due to multiple request as we are trying to solve on #49. But fell free to open if there is still something strange.

[2019-03-08 16:23] #47 closed

[2019-03-08 16:25] vncoelho commented on #48
@saltyskip and @igormcoelho, should we let both:
* ff - void
* 02 - string
* 04 - beer
etc

Or just the type?

[2019-03-08 21:34] vncoelho commented on #49
Andrei, automatic node selection based on best height is now working as well!
If experience any problem let us know :dancer:
https://github.com/NeoResearch/neocompiler-eco/commit/c962f7a38880369271a0179f59258ac946ae15dd

[2019-03-08 21:40] vncoelho commented on #49
![image](https://user-images.githubusercontent.com/17395762/54057422-b01a6180-41d1-11e9-80d5-26654abcba4a.png)

[2019-03-08 21:44] vncoelho commented on #49
![image](https://user-images.githubusercontent.com/17395762/54057593-2919b900-41d2-11e9-9c04-36e5de893ed2.png)

[2019-03-09 01:10] saltyskip commented on #48
+1 for both

[2019-03-09 06:01] saltyskip commented on #49
Looks good, one more suggestion I have is filtering neo.org nodes (on the testnet) from the node list programmatically, they appear to not be playing nicely recently. It is better to use the NGD nodes for stability. Or allow for a custom node selection override

[2019-03-09 13:35] vncoelho commented on #49
Sounds good. Currently the first input in the config can be modified and the selection box has a fixed list.

Maybe we can also allow upload of a specific list, do you think it is usefull?

[2019-03-14 20:21] vncoelho commented on #49
It should be almost solved now with https://github.com/NeoResearch/neocompiler-eco/commit/ccfe45ba819009a4d36978d6be0dbfaa9ed8b05b

If you experience problems with multiple calls again please open a new issue or re-open this one, there are still some minor things to improve. :dancer:

[2019-03-14 20:21] #49 closed

[2019-03-25 18:43] #48 closed

[2019-03-25 18:43] vncoelho commented on #48
Done, thanks @saltyskip.

[2019-03-26 03:46] igormcoelho commented on #45
Let's create a box on "Conversors/Tools" tab to calculate tx fee.
At this section, we can have a deploy transaction box with avm hex, and it pre-calculate the expected size (witness, parameters, etc).

[2019-03-26 03:47] igormcoelho opened #52 "Calculate ScriptHash / Address / Avm size (in bytes) on compile screen"
I think we need this: Calculate ScriptHash / Address / Avm size (in bytes) on compile screen

[2019-03-26 17:58] vncoelho commented on #52
Done, broda.
Please check if the size is just the length. I think it is wrong. But, at least, the template is done.

[2019-03-26 17:59] vncoelho commented on #32
closes #52 instead of 32...aheuaheua

[2019-03-26 17:59] vncoelho commented on #52
https://github.com/NeoResearch/neocompiler-eco/commit/6d0da094e81f42d3fb08c42c96eb5a78249a5c9d

[2019-03-26 17:59] #52 closed

[2019-03-26 18:11] igormcoelho commented on #52
Amazing work brother! Byte count is int( size / 2 ), so its showing double count now... but it's fine, easy to fix. Thanks a lot!

[2019-03-26 18:15] vncoelho commented on #52
![image](https://user-images.githubusercontent.com/17395762/55022701-ec273200-4fd9-11e9-9057-07252166c6c6.png)

[2019-03-26 18:24] #45 closed

[2019-03-26 18:24] igormcoelho commented on #52
Good. 124 should be 62 :P

[2019-03-26 18:24] vncoelho commented on #45
It is now calculated automatically when a contract is compiled.
Maybe still need to check this when AVM is upload.

[2019-03-29 22:37] hal0x2328 opened #53 "RPC stats polling at one second intervals on TestNet and MainNet"
The node block height/version/mempool queries that populate the stats in the menu bar are each being polled once per second, which I understand is normal for the one-second-per-block neocompiler nodes, but this happens even when connected to a MainNet or TestNet node.

The code should be changed to be aware of the number of seconds per block on whichever network it is connected to and only poll at

[2019-03-29 22:40] hal0x2328 opened #54 "Support upload of arbitrary NEP-3 ABI files"
Some times I'd like to be able to test a contract I didn't compile using NeoCompiler Eco, so having a way to manually populate the ABI data in the interface and invoke that contract would be helpful.

[2019-03-30 00:08] vncoelho commented on #53
Makes sense, Hal, we gonna update this asap.

[2019-03-30 00:14] vncoelho commented on #54
Good idea, @hal0x2328.
We gonna implement this feature asap.

Maybe we still leave it as two files, right?
One for avm and another for abi?

We gonna soon create some cookies also.

[2019-03-30 02:16] igormcoelho commented on #53
Makes sense, we can reduce it to 7 or 8 seconds... that's fine for that case.

[2019-03-30 18:39] #53 closed

[2019-03-30 18:39] vncoelho commented on #53
Thanks for the suggestion, @hal0x2328.

[2019-03-30 19:31] vncoelho commented on #53
You can also personalize it now! :dancer:

Go to settings:

![image](https://user-images.githubusercontent.com/17395762/55280800-2dd11900-5309-11e9-88a5-58d5d20e16c0.png)

[2019-04-04 18:29] vncoelho commented on #54
It has been inserted next to the Invoke button.

![image](https://user-images.githubusercontent.com/17395762/55579346-63517a00-56ee-11e9-8e43-471ccf306511.png)

Template for json file:

[code]

[2019-04-04 18:38] #54 closed

[2019-04-12 12:12] igormcoelho opened #56 "no ctrl+v on editor for smartphone"
Not good for usability... lets fix this.

[2019-04-12 12:22] igormcoelho opened #57 "bug losing my contract on compiler screen"
Second time I write my contract on C# main screen... then I go to Conversors tab, go to "Disassembly" tool, and when I come back, my contract is gone! It becomes Hello World again.
Please let's try to fix this.

[2019-04-12 13:25] vncoelho commented on #57
I saw this yesterday, there is a strange reload.
It should be something related with the new angular routes and some refreshing.

[2019-04-12 13:25] vncoelho commented on #57
But it looks like it happens just one time.

[2019-04-12 15:10] #57 closed

[2019-05-21 11:47] vncoelho commented on #56
I got it, in the Hacker's keyboard you can type ctrl+alt+c.
However, maybe we could have a button or something, right?

Which design do you want, brother?

[2019-05-25 13:14] igormcoelho opened #58 "default Storage and Dynamic Invoke boxes"
It's better to have Storage and Dynamic Invoke set by default... since gas in infinite here, better to pay for all, even if not necessary, to avoid problems.

[2019-05-25 13:20] igormcoelho opened #59 "automatically claim gas if not enough is available for deploy/invoke"
If no gas is available for deploy, perhaps it could be claimed automatically, or better inform users what they need to do to achieve that.

[2019-05-25 13:25] #58 closed

[2019-05-25 13:49] #59 closed

[2019-05-28 23:18] igormcoelho opened #60 "Invoke not working"
Invoke is not working, at least on smartphone.

[2019-05-28 23:21] igormcoelho opened #61 "all addresses should receive some Neo"
our network was slow,so it made sense to accumulate on.a single one. Now gas is generated fast, so its nice to have easy to use addresses full of gas and neo, since the beggining of the network (every restart).

[2019-05-28 23:24] igormcoelho opened #62 "clicking on green address button leads to wrong rpc balance"
![Screenshot_20190528-202255_Firefox](https://user-images.githubusercontent.com/290989/58518684-85172c80-8186-11e9-9fb2-34c0fc2ee7f0.png)
If you click on the second address (Wallet tab) you get the balance of the first address.

[2019-05-29 01:00] yurigabrich commented on #60
Neither on desktop.

[2019-05-29 01:39] #60 closed

[2019-05-29 01:50] #62 closed

[2019-06-23 18:29] yurigabrich opened #63 "MapExample.cs is not returning the right (format) value"
The notifications from `StorageMap` used to show the same values on the comments. Now, it looks like the number format has changed for some reason.

Sincerely, I don't remember what used to be shown in RPC output. It is currently returning `byte[]` as value format for the `.AsBigInteger()` method. I think the expected format should be `Integer`, shouldn't be?

A last note, the first time I've noti

[2019-06-23 19:12] igormcoelho commented on #63
Thanks for notifying the issue Yuri. In fact, `.AsBigInteger()` doesn't guarantee that the value will be converted, as this is just a high-level _type cast_. I think there's a function `.ToBigInteger()` that guarantees the conversion. You can try that.

[2019-06-24 00:00] yurigabrich commented on #63
Thank you, @igormcoelho! `.ToBigInteger()` solves the problem.
Now the RPC output shows type `Integer` and the right format of the number.

[2019-06-24 00:00] #63 closed

[2019-07-26 01:23] yurigabrich opened #66 "Something wrong to generate gas"
It uses to happen on the "second" half of the day (at night on Brazil time zone).
No gas, no gain. :cry: But I'm enjoying a new book meanwhile. :relaxed:

---
![image](https://user-images.githubusercontent.com/20340831/61918743-e2cab980-af28-11e9-8b16-2fe3200c39ba.png)

[2019-07-26 14:41] corollari commented on #66
Hmm, so the issue is that every day at some time the GAS is set to zero?
Seems that this problem could be related to the network reset that's performed periodically.

[2019-07-26 14:47] vncoelho commented on #66
It is a bug with the docker or docker-compose. We already reported to them!
The docker has a bug that destroys its network when we repeteadly put dockers up and down.

In this sense, sometimes we manually reset the server. We have also an input box in the settings where you can ask for the reset with a password (but it is not yet completelly working, sometimes it fails).

[2019-07-27 01:20] yurigabrich commented on #66
Thank you for the explanations. It is working fine now.

Are there something I can contribute to solve it?
Maybe I can try to set the restart when the wallet freeze. Or at least document this behaviour and what steps should be done to get it working again.

[2019-07-27 01:27] vncoelho commented on #66
That would be great, Yuri.

I am also having problems with the server executing a nohup command. For some reason the express is not being able to restart the service correctly.

[2019-09-20 09:33] corollari opened #67 "https://compilers.neocompiler.io is down"
Getting timeout errors when trying to use it.

[2019-09-20 12:23] corollari commented on #67
Seems to be fixed now.

[2019-09-20 12:23] #67 closed

[2019-11-01 16:24] vncoelho commented on #66
I fixed the nohup for resetting and also created a command for automatic claim when users try to deploy and invoke.

But we still need an automatic script for calling the `docker service restart` when the front-end detects such failures.

[2019-11-05 20:24] AncientMayar opened #69 "Issues with Compiler server and node"
Working with @igormcoelho  here at UERJ... Suggestion to install node on readme:
`sudo snap install --edge node --classic`

This installs bleeding edge node version (v13 today)

Install npm normally: `sudo apt install npm`

Update npm packages locally (specially `express` server):
`npm install`

[2019-11-07 12:48] #69 closed

[2019-11-07 12:48] vncoelho commented on #69
Thanks @AncientMayar, precise descriptions!

[2019-11-11 23:10] yurigabrich commented on #66
Well done, @vncoelho! I've been noticing the automatic claim on last days and also the big increase on server availability time. Thanks for that!

I'd like to contribute for the docker restart issue but I don't know what it is about.

[2020-02-27 21:24] vncoelho commented on #66
Perhaps it is much more stable now and resetting every 7 days.
The server has also been upgraded.

[2020-02-27 21:24] #66 closed

[2020-02-27 21:25] vncoelho commented on #61
@igormcoelho, how many address, perhaps I will create a box on the wallet page and set a default percentage, if someone set the percentage of GAS to 0 it may readjust the other ones automatically.

What do you think?

[2020-10-31 23:43] vncoelho opened #86 "Improve loop for printing notifications"
Currently it is not recursive unpacking Array

[2020-10-31 23:49] igormcoelho opened #87 "Interpret notifications based on ABI, if available"
If ABI is available for the given contract, Notifications can be "better interpreted", including fields that may be Integer, ByteArray, String, etc.
Specially Notifications, which are named, it's easier to track and present correct interpretations.

[2020-11-01 00:13] igormcoelho commented on #86
Precisely on TypeI parameter notification.

[2021-09-20 17:09] mialbu opened #93 "Incorrect integer to byte array conversion for big numbers"
**Problem**
When using the conversion `BigInteger <-> Little-Endian ByteArray` in the [Neo Compiler](https://neocompiler.io/#nav-conversors/), the conversion is no longer correct if the number gets too big (probably when exceeding 64 bits).

**Examples**
`123456789012345678901234` -> `0000006da0101f9b241a00`
`123456789012345678901234567890` -> `0000000000e073c3f60fe98e0100`

[2021-09-21 05:15] igormcoelho commented on #93
Thanks for reporting @mialbu , we'll see into it ASAP.
From what I remember, we had a manual implementation of biginteger in js that performed operations perfectly, I'll double-check if we have adopted some thirdparty lib in the meanwhile. When dealing with Number in js, there's a limitation around 60 bits, as far as I remember (as it starts to lose precision), but that don't happen in string repr

[2021-09-29 03:19] igormcoelho commented on #93
As a follow up, the good news is that I can confirm that the issue is indeed an invalid casting to Number (that's why it fails after around 60 bits).
According to [csBigInteger-cpp](https://github.com/neoresearch/csbiginteger-cpp) demo, the following output would be expected:

[code]

Good news is that we already have our classic js implementation (also in [csBigInteger](https://github.com/neorese

[2021-10-19 02:55] #93 closed

[2022-11-14 15:19] #86 closed

[2022-11-14 18:35] #87 closed